@model Comanda
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container mt-3 pt-3">

    <h4> @Model.prenumePersoana, you have made a reservation with details:</h4>
    <hr />
    <br />
    <h6>@Model.statiePlecare &nbsp; - &nbsp; @Model.statieSosire</h6>
    <h6> Your ticket is valid for date: @Model.DataBilet.ToString() </h6>
    <br />
    <p> You can continue with payment or you can cancel below</p>
    <br />
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <a asp-action="AnulareComanda" asp-route-id="@Model.Id" class="btn btn-danger">Cancel</a>
        </div>
        <div class="col-sm-6">
            <a asp-action="PlasareComanda" asp-route-id="@Model.Id" class="btn btn-success">Continue</a>
        </div>
    </div>

</div>

